*{
	margin: 0;;
	padding:0;
}
body{
	font-family:Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	background-color:rgb(0, 0, 0);
	overflow:hidden;
}
h1{
	margin:20px;
	font-size:30px;
}
.st_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(../images/pattern.png) repeat-x bottom left;
	opacity:0.3;
}
.st_main img.st_preview{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	padding-top: 20%;
}
ul.st_navigation{
	position:absolute;
	width:100%;
	top:250px;
	left:-300px;
	list-style:none;
}
ul.st_navigation li {
	float:left;
	clear:both;
	margin-bottom:8px;
	position:relative;
	width:100%;
}
ul.st_navigation li span.st_link{
	background-color:rgba(175, 123, 74, 0.849);
	background-color:;
	background-color:;
	float:left;
	position:relative;
	line-height:50px;
	padding:0px 20px;
	-moz-box-shadow:0px 0px 2px rgb(0, 0, 0);
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
}
ul.st_navigation li span.st_arrow_down,
ul.st_navigation li span.st_arrow_up{
	position:absolute;
	margin-left:25px;
	width:40px;
	height:50px;
	cursor:pointer;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
}
ul.st_navigation li span.st_arrow_down{
	background:rgb(134, 134, 121) url(../images/icons/down.png) no-repeat center center;
}
ul.st_navigation li span.st_arrow_up{
	background:rgb(9, 68, 95) url(../images/icons/up.png) no-repeat center center;
}
.st_wrapper{
	display:none;
	position: absolute;
    width:100%;
    height:126px;
    overflow-y:hidden;
	top:50px;
    left:0px;
}
.st_thumbs{
    height:126px;
    margin: 0;
}
.st_thumbs img{
    float:left;
    margin:3px 3px 0px 0px;
    cursor:pointer;
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.st_loading{
	position:fixed;
	top:10px;
	right:0px;
	background:#000 url(../images/icons/loader.gif) no-repeat 10px 50%;
	padding:15px 40px 15px 60px;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.st_about{
	display:none;
	position:absolute;
	top:50px;
    left:0px;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.st_subcontent{
	background:#000;
	padding:30px;
	-moz-box-shadow:0px 0px 10px #000;
	-webkit-box-shadow:0px 0px 10px #000;
	box-shadow:0px 0px 10px #000;
}

/*partie styles test*/
/* design du haut de la page*/
/* importation de la police d'écriture pour la barre de navigation*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* importation de la police d'écriture pour le big title*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
font-family: 'Montserrat';
}/* composant de la page*/
body{
    margin: auto; /* enlever la marge aplliqué à l'ensemble de la page*/
}

html{
    scroll-behavior: smooth;
}
/* tête de page*/

header.header{
    display: flex; /* aligner l'ensemble*/
    align-items: center; /* centrer*/
    background-color:none; /* couleur de la balise*/
}


section.top-page {
    background-color: rgba(175, 123, 74, 0.849);/*image d'arrière plan*/
    background-size: cover;/* ne déforme pas la page de l'arrière plan*/
    height: 15vh; /* hauteur de l'image de l'arrière plan*/
        padding: 25px ;
}

/*menu déroulant horizontal*/
/* Principal */
#menu{
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li{
    float: left;
    padding: 0 0 10px 50px;
    position: relative;
}

#menu a{
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
    color: #fafafa;
}

*html #menu li a:hover{ /* IE6 */
    color: #fafafa;
}

#menu li:hover > ul{
    display: block;
}

/* Sous-menu */

#menu ul{
list-style: none;
margin: 0;
padding: 0;
display: none;
position: absolute;
top: 35px;
left: 0;
z-index: 99999;
background: #444;
background: -moz-linear-gradient(#444, #111);
background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
background: -webkit-linear-gradient(#444, #111);
background: -o-linear-gradient(#444, #111);
background: -ms-linear-gradient(#444, #111);
background: linear-gradient(#444, #111);
-moz-border-radius: 5px;
border-radius: 5px;
}

#menu ul li{
float: none;
margin: 0;
padding: 0;
display: block;
-moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
-webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

#menu ul a{
padding: 10px;
height: auto;
line-height: 1;
display: block;
white-space: nowrap;
float: none;
text-transform: none;
}

*html #menu ul a{ /* IE6 */
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */
    height: 10px;
    width: 150px;
}

#menu ul a:hover{
    background: #0186ba;
    background: -moz-linear-gradient(#04acec,  #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec,  #0186ba);
    background: -o-linear-gradient(#04acec,  #0186ba);
    background: -ms-linear-gradient(#04acec,  #0186ba);
    background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
content: '';
position: absolute;
left: 30px;
top: -8px;
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
border-bottom-color: #3a5b68;
}

#menu ul li:last-child a{
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}

/* Rétablissement du flottement */
#menu:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */





/* page de bienvenue (landing page)*/

#landing-page{
    position: relative;
    padding: 0px 50px;/* espace hauteur et espace de la bordure*/

}


.big-title{
    color: white; /* couleur du texte*/
    font-size: 'Abril FatFace';
    font-size: 20px;/* taille de la police*/
    font-weight: none;
   
}

.big-title-test{
    padding-top: 30px ;
    text-align: center;
    position: relative;
    color:white; /* couleur du texte*/
    font-size: 'Arial';
    font-size: 40px;/* taille de la police*/
    font-weight: none;   
    
}

.scroll-down{
    color:gray;
    text-decoration:none;
    position: absolute;
    bottom: 10;
}


/* Menu de navigation*/
nav.nav{
    display: flex; /* aligner les mots de la navigation*/
    justify-content: space-between; /* espacement entre les mots*/
    list-style: none; /* enlever les puces*/
    background-color:none; /*barre */
    width: 100%;
    margin-left: 30px; /* espace entre le logo et le texte*/
    
}

nav.nav li a
{
    color:white; /* couleur des mots de navigation*/
    text-decoration: none;
}

/* SERVICES*/

.services{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
.delivery-icon{
    font-size: 50px;
    color: chartreuse;
    
}*/

.service-details{
    font-weight: 600;
    width: 200px;
    text-align: center;
}

/* Nos meilleurs ventes*/

.section-title{
    font-size: 50px;
    font-family: 'Abril FatFace';
    font-weight: 100;
    position: relative;
}

.section-title::before {
content:"";
position:absolute;
background-color:grey;
width: 50px;
height: 7px;
bottom:0;
}


.best-items{
    margin: 80px;
    background-color:#F5F0E9;
}








